body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  background-image: url('https://i.pinimg.com/originals/a4/7d/08/a47d08e408b531e4a79e8c07450ef1b9.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
}

h2, p, .button, .roll-display {
  font-family: 'Coda', cursive;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ribbon {
  height: 70px;
  width: 100vw;
  display: flex;
  background-color: rgb(20, 20, 54);
  border-bottom: 2px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.brand {
  margin: 0 3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.turn {
  margin: 0 10vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.turn .player {
  position: static;
}

.player-icon {
  width: 45px;
  height: 45px;
  background-image: url('https://i.downloadatoz.com/download/icon2/1/f/4/e2207020ac2fa8f0d59683196c41f6ef.jpg');
  background-size: cover;
}

#board {
  height: 500px;
  width: 500px;
  border: 1px solid rgb(185, 0, 0);
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap-reverse;
  background-color: rgb(20, 20, 20);
}

.tile {
  width: 49px;
  height: 49px;
  border: .5px solid rgb(185, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.tile[id='6'], .tile[id='22'], .tile[id='57'], .tile[id='61'], .tile[id='85'] {
  background-color: rgb(255, 251, 0);
  color: black;
}

.tile[id='19'], .tile[id='36'], .tile[id='44'], .tile[id='73'], .tile[id='97'] {
  background-color: rgb(0, 102, 9);
  color: white;
}

.tile p {
  font-size: .75em;
  margin: 0;
  padding: 0;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.roll-display {
  width: 75px;
  height: 50px;
  margin: 0 10px;
  background-color: rgb(20, 20, 20);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid rgb(185, 0, 0);
  border-radius: 10px; 
}

.button {
  width: 160px;
  height: 50px;
  margin: 0 10px;
  background-color: rgb(185, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid white;
  border-radius: 10px;
}

.reset {
  width: 100px;
}

.button:hover {
  background-color: rgb(206, 52, 52);
  border: 4px solid white;
  cursor: pointer;
}

.button:hover p {
  font-size: 3rem;
}

.player {
  width: 45px;
  height: 45px;
  position: absolute;
  background-size: cover;
}

.train, .taxi, .game-over {
  display: none;
  height: 200px;
  width: 450px;
  z-index: 1;
  top: 210px;
  position: fixed;
  border-radius: 10px;
  font-size: 1.5rem;
  word-wrap: break-word;
  text-align: center;
  box-shadow: 0px 20px 8px 0 rgba(0, 0, 0, 0.2), 10px 20px 20px 0 rgba(0, 0, 0, 0.19);
}

.train p, .taxi p, .game-over p {
  position: absolute;
  z-index: 1;
  top: 55px;
  margin: 0 10px;
  color: white;
}

.gradient-one, .gradient-two, .gradient-three, .gradient-four, .gradient-five {
  height: 20%;
  width: 100%;
  margin: 0;
}

.gradient-one {
  background-color: rgb(0, 0, 218);
  border-top: 2px solid rgb(96, 102, 121);
  border-left: 2px solid rgb(96, 102, 121);
  border-right: 2px solid rgb(96, 102, 121);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.gradient-two {
  background-color: rgb(0, 0, 177);
  border-left: 2px solid rgb(96, 102, 121);
  border-right: 2px solid rgb(96, 102, 121);
}

.gradient-three {
  background-color: rgb(0, 0, 128);
  border-left: 2px solid rgb(96, 102, 121);
  border-right: 2px solid rgb(96, 102, 121);
}

.gradient-four {
  background-color: rgb(0, 0, 97);
  border-left: 2px solid rgb(96, 102, 121);
  border-right: 2px solid rgb(96, 102, 121);
}

.gradient-five {
  background-color: rgb(0, 0, 63);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 2px solid rgb(96, 102, 121);
  border-right: 2px solid rgb(96, 102, 121);
  border-bottom: 2px solid rgb(96, 102, 121);
}